<!-- <header>
    <nav>
        
            <p>
                <mat-toolbar>
                  <h1 class="heading">XYZ.Co</h1>
                 <a routerLink="/"> <mat-icon aria-hidden="false" aria-label="Example home icon"> home</mat-icon> <span> Home</span></a>
                  <a routerLink="/contact"><mat-icon  aria-hidden="false" aria-label="Example perm_phone_msg icon">perm_phone_msg</mat-icon><span> Contact us</span></a>
                  <a routerLink="about"><mat-icon routerLink="/about" aria-hidden="false" aria-label="Example person icon">person</mat-icon><span> About us</span></a>
                </mat-toolbar>
              </p> 
    </nav>
</header> -->


 
 
 
