<mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <h1>Main Menu</h1>
        <a routerLink="/home">HOME</a>
        <a routerLink="/about">ABOUT</a>
        <a routerLink="/contact">CONTACT</a>
    </mat-drawer>
    <mat-drawer-content>
        <button (click)="drawer.toggle()"> <mat-icon>menu</mat-icon></button> 
        <h1>Angular.js</h1>
        </mat-drawer-content>
  </mat-drawer-container> 

  <body>
      <div class="about-info">
    <h1>Know about us !</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam eius accusamus error porro autem necessitatibus tempora natus voluptatibus, ex expedita numquam rem laudantium optio delectus iure odit aspernatur cum. Eius reprehenderit aspernatur beatae dignissimos consectetur at quam laboriosam possimus! Non dicta sunt cum facere commodi, eos nam vitae? Consequuntur ut vero reiciendis fuga saepe recusandae a fugit facere voluptate iste culpa, incidunt quibusdam, minima possimus modi, asperiores facilis voluptatum reprehenderit. Cupiditate atque nulla facilis ducimus nobis inventore enim id ratione aliquid molestias asperiores fugit est qui nihil, placeat itaque cumque.</p>
    </div>
</body>