<div class="affiliate">
    <h1>Be a affiliate member</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto explicabo sit dignissimos
         dolorem mollitia reprehenderit consequatur similique, 
        autem tempore est incidunt vero, recusandae officiis consequuntur 
        dolores consectetur voluptate aperiam perferendis eum error, necessitatibus aliquid. Molestiae numquam, 
        perferendis iusto harum quibusdam sed eum accusantium, ea, sunt esse vero quaerat officiis nesciunt.</p>
</div>