*
{
    box-sizing: border-box;
    text-align: center;
    display: block;
}
h1{
    padding-top: 150px;
    font-size: 35px;
}
h3{
    font-size: 20px;
}
mat-form-field{
    margin-left: 45%;
    
}
span{
    font-size: 19px;
}


