<mat-sidenav-container class="sidenav-container" *ngIf="!fullPageTemplate">
	<mat-sidenav #drawer class="sidenav" fixedInViewport
							 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
							 [mode]="(isHandset$ | async) ? 'over' : 'side'"
							 [opened]="(isHandset$ | async) === false">
		<mat-nav-list class="main-menu">
			<a mat-list-item routerLink="/home">Home</a>
			<a mat-list-item routerLink="/about">About</a>
			<a mat-list-item routerLink="/contact">Contact</a>
			<a mat-list-item routerLink="/affiliate">Afilliate</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="accent">
			<button
				type="button"
				aria-label="Toggle sidenav"
				mat-icon-button
				(click)="drawer.toggle()"
				*ngIf="isHandset$ | async">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
		</mat-toolbar>
		<div class="content">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
<div class="container-full" *ngIf="fullPageTemplate">
  <router-outlet></router-outlet>
</div>