<section class="signup">
    <div>
    <h1>Sign Up Now!</h1>
    <mat-form-field>
        <span>First Name:</span>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <span>Last Name:</span>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <span>Email:</span>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <span>password</span>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <span>Confirm Password</span>
        <input matInput>
    </mat-form-field>
    <button mat-raised-button> Sign Up</button>
    </div>
</section>